$bg_color: #1f1632;

$content_color: #efce59;
$content_color_level0: #ebbf20;
$content_color_level1: #cfa91d;
$content_color_level2: #ac8a0c;

$border_color: #ed5aac;
$border_color_level1: #ad3476;
$border_color_level2: #6f1d4a;

$footer_color: #28f38d;
$footer_shadow_color: #1da15f;

$tip_text_color: rgba(13, 160, 72, 0.8);
$tip_text_hover_color: rgba(11, 121, 55, 1);

@mixin insetTipText {
  font-weight: bold;
  color: $tip_text_color;
  text-shadow: 1px 4px 6px $footer_color, 0 0 0 #000, 1px 4px 6px $footer_color;
}

@mixin rainbowText {
  background-color: #ca4246;
  background-image: linear-gradient(
    144deg,
    #d41426 16.666%,
    #e05531 16.666%,
    #e05531 33.333%,
    #f17f33 33.333%,
    #f17f33 50%,
    #7a8f52 50%,
    #7a8f52 66.666%,
    #3f6088 66.666%,
    #3f6088 83.333%,
    #96488b 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
